{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Login</title>
  </head>
  <body>
    <div class="container mt-5" style="width: 600px">
      <div class="form-container">
        <h2 class="text-center mb-4">Login</h2>
        <form method="post" class="border p-4 rounded shadow">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn btn-primary btn-block">Login</button>
          <div class="form-footer">
            <p>
              Don't have an account?
              <a href="{% url 'register' %}">Register here</a>.
            </p>
          </div>
        </form>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
